description "Gunicorn server for {{ inventory_hostname }}"

start on net-device-up
stop on shutdown

respawn

chdir /home/parentj/sites/{{ inventory_hostname }}/source
exec ../virtualenv/bin/gunicorn --bind unix:/tmp/{{ inventory_hostname }}.socket --env DJANGO_SETTINGS_MODULE=settings.production safefamilies.wsgi:application